<app-header title="Formulário Avalição de produto" [subTitle]="" [subTitle]="item.name" [buttonLink]="'/produtos/' + item.product_id + '/avaliacoes'" buttonText="Voltar"></app-header>
<div class="row mt-3">
    <div class="col-12">
        <app-alert #alert></app-alert>
        <form>
            <input type="hidden" name="id" id="id" [(ngModel)]="item.id">
            <div class="form-row">
                <div class="form-row col-6">
                    <label for="name">Nome</label><br>
                    <input [ngClass]="isInvalidField('name') ? 'form-control is-invalid' : 'form-control'" type="text" name="name" id="name" [(ngModel)]="item.name">
                </div>
                <div class="form-row col-6 ml-2">
                    <label for="grade">Nota</label><br>
                    <input [ngClass]="isInvalidField('grade') ? 'form-control is-invalid' : 'form-control'" type="number" name="grade" id="grade" [(ngModel)]="item.grade">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="comment">Comentário</label><br>
                    <textarea [ngClass]="isInvalidField('comment') ? 'form-control is-invalid' : 'form-control'" name="comment" id="comment" cols="30" rows="5" [(ngModel)]="item.comment"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="btn-group float-right">
            <button style="width:100px !important;" class="btn btn-success" type="button" (click)="save()">Salvar</button>
            <a style="width:100px !important;" class="btn btn-danger" [routerLink]="'/produtos/' + item.product_id + '/avaliacoes'">Cancelar</a>
        </div>
    </div>
</div>